@charset "UTF-8";

@font-face {
    font-family: 'Amazon';
    src: url('fontes/Ember/Amazon-Ember-Medium.ttf') format('opentype');
}
:root{
    --font-amazon:'Amazon',cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
}
.imagem > img{
    display: flex;
    width: 10%;
    margin: auto;
    padding: 15px;
}
main{
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 5px;
    margin: auto;
    width: 19%;
    height: 270px;
    padding: 25px;
}
.login > h1{
    font-weight: 300;
    font-size: 27px;
    padding-bottom: 15px;
    font-family: var(--font-amazon);
}
.botão1 > p{
    display: flex;
    flex-direction: column;
    font-weight:bolder;
    font-size: 13.5px;
    padding-bottom: 5px;
    font-family: var(--font-amazon);
    
}
.email{
    padding-bottom: 15px;
}
.btnemail{
    width: 90%;
    padding: 8px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%);
    outline: 0;
}
.btnemail:focus{
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}
.continue{
    padding-bottom: 15px;
}
.btncontinue{
   width: 94.5%;
   padding: 7px;
   background-color: rgb(248, 191, 34);
   border-radius: 4px;
   border: 1px solid rgba(0, 0, 0, 0.349);
   font-weight: 500;
}
.texto{
    padding-top: 5px;
    font-weight: 200;
    font-size: 92%;
    padding-bottom: 20px;
    line-height: 1.5;
}
.texto p > a {
    color: #0066c0;
    text-decoration: none;
}
.texto p > a:hover{
    text-decoration: underline;
    color: rgba(235, 108, 62, 0.979);
}
span{
    font-size: 95%;
}
span > a{
    color: #0066c0;
    text-decoration: none;
}
span > a:hover{
    text-decoration: underline;
    color: rgba(235, 108, 62, 0.979);
}
.novo{
    text-align: center;
    padding-bottom: 25px;
}
.novo > h2{
    color: rgba(0, 0, 0, 0.678);
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 95%;
}
.novo >input{
    padding: 7px;
    width: 22.4%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.568);
    background-color: #cccbcb27;
    font-family: var(--font-amazon);
}
.footer1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 28px;
    padding-top: 30px;
    font-size: smaller;
    background-color: rgba(190, 190, 190, 0.034);
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.068);
}
.footer1 > a {
    text-decoration: none;
    color:#0066c0;
}
.footer1 > a:hover{
    text-decoration: underline;
    color: rgba(235, 108, 62, 0.979);
}
footer > p{
    padding-top: 16px;
    font-size: smaller;
    text-align: center;
    color: #555;
}